#title{
  color:black;
  background-color: #bacaff;
  width: auto;
  border-radius: 25px;
  text-align: center;
}
.map{
 background-image: url('phone.jpg');
 background-position: right;
            background-repeat: no-repeat;
            background-size: cover;

}
.menu-item-214{
  color:white;
}
#fb{
  width: 75px;
  height: 76px;
}

#tw{
  width: 75px;
  height: 76px;
}
.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
   
  }
  #web:hover{
    color: rgba(170, 21, 21, 0.918);

  }
  .main-wrapper{
    border: 1px solid black;
    width: 100%;
    
    
}
#stra{
  font-size: 20px;
}
#nav .main-menu ul > li > a {
  color: #FFF;
  font-weight: normal;
  font-size: 20px;
  
}
  body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .topnav {
          overflow: hidden;
          background-color: #333;
          font-size: 20px;
          height: 140px;
          
          
        }
        
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #045191;
          color: white;
        }
        
        
          #div{
            height: 100px;
            text-align: right;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            background-color: aqua;
            border-width: 0cm;
            flex-direction: row;
          }
          
          #nav{
            background-color: bg-light;
            border-spacing: (my-2, my-lg-0, me-sm-0, my-sm-0);
            
            
            
          }
          .form{
            margin: auto;
            width: 300px;
            height: 200px;
            border: 3px solid #031952;
            padding: 10px 5px 10px 5px;
            
          }
          .btn-primary {
            
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            text-decoration: none;
            padding: 8 16 8 16;
        }
        .btn {
          display: inline-block;
          font-weight: 400;
          color: #212529;
          text-align: center;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-color: transparent;
          border: 1px solid transparent;
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: .25rem;
          
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      .btn-group-lg>.btn, .btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        
    }
    .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
   
  
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #277bce;
  --bs-body-bg: #fff;
}
element.style {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
}
div {
  display: block;
}
style attribute {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
  touch-action: pan-x pan-y;
}.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}
body {
  font-family: "Google Sans", sans-serif;
}
.jumbotron{
  color: black;
  border-style: rounded_corner;
  border-radius: 20px;
  width: 600px;
  padding: 64px 32px 64px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.display-4{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
 
}
.lead{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;

}
.inr-sub-title{
  color: black;
}
#main_menu{
  font-size: medium;
}
.inner-cntr{
  padding: 30px 100px 30px 40px;
}
#collection_state{
  padding-right: 60px;
}
.map-cntr{
  color: black;
}
